# .htaccess for mydomain.org

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /

# 301 REDIRECTION FROM HTTP TO HTTPS - only if HTTPS is supported!
#	RewriteCond %{HTTPS} off
#	RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# 301 REDIRECTION FROM WWW TO NON-WWW	
#	RewriteCond %{HTTP_HOST} ^www.mydomain\.org [NC]
#	RewriteRule (.*) https://mydomain.org/$1 [R=301,L]
</IfModule>

# SET MIME TYPES according to file extension
<IfModule mod_mime.c>
	AddType application/json .json
	AddType application/pdf .pdf
	AddType application/zip .zip
	AddType audio/ogg .ogg
	AddType image/jpeg .jpeg .jpg .JPG
	AddType image/gif .gif .GIF
	AddType image/png .png .PNG
	AddType text/css .css
	AddType text/csv .csv
	AddType text/html .html .htm .php
	AddType text/javascript	.js
	AddType text/plain .txt
	AddType text/xml .xml
	AddType video/ogg .ogv .ogg
	AddType video/mp4 .mp4
	AddType video/webm .webm
</IfModule>
	
# ADD EXPIRES HEADERS
<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresDefault "access plus 1 week"
	
	# HTML documents
	ExpiresByType text/html "access plus 1 hour"

	# CSS and Javascript
	ExpiresByType text/css "access plus 1 year"	
	ExpiresByType text/javascript "access plus 1 year"
	
	# Feeds
	ExpiresByType application/atom+xml "access plus 1 hour"
	ExpiresByType application/rss+xml "access plus 1 hour"
	
	# Audio, Images, video
	ExpiresByType audio/ogg "access plus 3 months"
	ExpiresByType image/png "access plus 3 months"
	ExpiresByType image/jpg "access plus 3 months"
	ExpiresByType image/gif "access plus 3 months"
	ExpiresByType image/x-icon "access plus 3 months"
	ExpiresByType video/mp4 "access plus 3 months"
	ExpiresByType video/ogg "access plus 3 months"
	ExpiresByType video/webm "access plus 3 months"

	# PDFs
	ExpiresByType application/pdf "access plus 1 week"
		
	# Data
	ExpiresByType application/json "access plus 2 seconds"
	ExpiresByType application/xml "access plus 0 seconds"
	ExpiresByType text/xml "access plus 0 seconds"
	
	# Cache Manifest
	ExpiresByType text/cache-manifest "access plus 0 seconds"
</IfModule>

# ADD HEADERS FOR CACHING
<IfModule mod_headers.c>
	Header always unset ETag
	FileETag None
	Header append Vary Accept-Encoding
	Header always unset Cache-Control
	Header merge Cache-Control "public, must-revalidate, proxy-revalidate"
	
# ADD HEADERS FOR SECURITY
	# enforce browsers to use HTTPS (max-age: 2 years) - only if HTTPS is supported!
#	Header set Strict-Transport-Security "max-age=63072000; preload"
	
	# disallow the website to be framed
	Header set X-Frame-Options "deny"
	
	# enable XSS protection filters
	Header set X-XSS-Protection "1; mode=block"
	
	# whitelist sources of approve content which prevents the browser from loading malicious assets
	# If you need help, use the CSP Builder: https://report-uri.io/home/generate
	# Content-Security-Policy-Report-Only can be used for testing - Firefox and Chrome report errors on the console
	Header set Content-Security-Policy-Report-Only "default-src 'self'"

	# Warning only enable after testing with Report-Only!
#	Header set Content-Security-Policy "default-src 'self'"
	
	# force browsers to stick to the declared content-type
	Header set X-Content-Type-Options "nosniff"
	
	# public key pins (max-age: 30 days) - only if HTTPS is supported!
	# If you need help, use the HPKP Hash Generator: https://report-uri.io/home/pkp_hash
#	Header set Public-Key-Pins "pin-sha256=\"\"; max-age=2592000;"

# REMOVE HEADERS FOR SECURITY
	# Remove sever information (this does not always work)
	Header set Server ""
	Header always unset Server
	
	# Remove PHP version etc.
	Header set X-Powered-By ""
	Header always unset X-Powered-By
	
	# Remove some WordPress headers
	Header always unset X-Pingback
	Header always unset WP-Super-Cache
</IfModule>

# DISABLE THE SERVER SIGNATURE
	ServerSignature Off

	
# ENABLE GZIP COMPRESSION
<IfModule mod_deflate.c>
	SetOutputFilter DEFLATE
	AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript application/json
</IfModule>


# PROVIDE CUSTOM ERROR DOCUMENTS
	# Before activating, ensure that those documents exist!
# ErrorDocument 400 /badrequest.html
# ErrorDocument 401 /authreqd.html
# ErrorDocument 403 /forbid.html
# ErrorDocument 404 /notfound.html
# ErrorDocument 500 /server.html

# DISALLOW ACCESS TO PRIVATE FILES 
#	<files example-file.php>
#    	<IfModule mod_authz_core.c>
#    	    Require all denied
#    	</IfModule>
#    	<IfModule !mod_authz_core.c>
#        	Order allow,deny
#        	Deny from all
#    	</IfModule>
#	</files>
